body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #eeeeee;
  background-image: url("./Images/MountainBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
